body {
  
	background: linear-gradient(90deg, #d11e1e, #2598a7 );	
}       
  .h{
      text-align: center;
      color: white;
      font-weight: bold; 

    }
      
      div{   
        
        color: white;     
        scroll-margin-left: 100px;
        text-align: left;
  
      }
      img{
        transition: all 0.3s linear;

      }
      a:hover img{
        transform: scale(1.2);

      }
      button.lglo {
        background-color: transparent;
        color: white;
       
        font-weight: bold; 
        
        padding: 3px;
        cursor: pointer;
        width: 70px;
        
        box-shadow: 0 6px 6px rgba(240, 238, 238, 0.6);
      
                  
      }
       button.logout {
        background-color: transparent;
        color: white;
        margin-left: 1300px;
        font-weight: bold; 
        margin-top: px;
        padding: 10px;
        cursor: pointer;
        width: 70px;
        box-shadow: 0 6px 6px rgba(8, 0, 0, 0.6);
      
                  
      }